{% extends "base.html" %}

{% block title %} El perfil mas completo para los desarrolladores {% endblock %}

{% block content %}
    <div id="about">
        <h1><span class="function">icoder</span>.<span class="object">name</span></h1>
        <h2>La mejor forma de dar a conocer tu perfil profesional como desarrollador.</h2>
        <div id="apps_banner">
            <img src="/static/subscriber/images/github.png" />
            <img src="/static/subscriber/images/google.png" />
            <img src="/static/subscriber/images/twitter.png" />
            <img src="/static/subscriber/images/facebook.png" />
            <img src="/static/subscriber/images/lastfm.png" />
            <img src="/static/subscriber/images/linkedin.png" />
        </div>
    </div>
{% endblock %}
